/* Import the base styles */
@import "tailwindcss/base";

/* Import the components styles */
@import "tailwindcss/components";

/* Use @layer utilities for custom utility classes */
@layer utilities {
  /* Define utility classes within the utilities layer */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Import the utilities styles */
@import "tailwindcss/utilities";

/* Your custom styles */
.bgw {
  background-image: url('../public/bg.jpg');
}

/* Spinner spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Body color */
body {
  background-color: rgb(30 41 59);
}

/* Slider arrows colors */
.slick-prev:before,
.slick-next:before {
  color: #0369a1 !important;
  background-color: transparent;
  font-size: 30px !important;
}